.slider-container {
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: blue; 
  margin-bottom: 20px;
}

.slider {
position: relative;
  width:300px;
  height: 60vh;             
  max-height: 800px;
  display: flex;
  align-items: center;       
  justify-content: center;   
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(165, 0, 68, 0.4);}

.image-wrapper {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;     
    transition: transform 0.7s ease;
}

.image-wrapper img {
  width: 400px;
  height: auto;
  transition: transform 0.5s ease;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: 0.3s;
}

.nav-btn:hover {
  background: #a50044;
}

.left-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;  
    width: 40px;
    height: 40px;
}

.right-btn {
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 40px;
    height: 40px;

}

.dots {
  margin: 20px 0;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background-color: #a50044;
  transform: scale(1.3);
}

.caption {
  font-size: 1.2rem;
  color: #555;
}